//Variables
$num : 1;
$tam : 30px;
$tie : 20s;

//cadenas
$nombre : "Cande";
$valor : block;
$sexo: "hombre";

//Colores
$rojo : yellow;
$color_rgb : rgb(120,120,255);
$color_hex : #3f4a5a;

$border : 10px dashed red;