doctype html 
html
    head 
        titlle Ejemplo pug
        link(rel="stylesheet", href="estilos.css")
    body 
        h1 Esto es un encabezado 
        div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ad dolorem ut ipsam sint eius? Quis aliquid, nobis odit reiciendis quisquam eum expedita amet odio unde, excepturi, quia nulla cumque!
            p.parrafo.
                Esto es un 
                Ejemplo de un parrafo     
                